<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Acro Network - Store</title>
    <link rel="icon" href="../assets/logo.png" type="image/png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type="text/css" href="../public/storeStyle.css">
    <link rel="stylesheet" type="text/css" href="../public/navbarStyle.css">
    <link rel="stylesheet" type="text/css" href="../public/footerStyle.css">
  </head>

  <body>
    <!-- NAVBAR SECTION -->  
    <%- include("../layouts/navbar.ejs"); %>

    <h2 class="gamemode-title gradient-gamemode animated-text">Server Gamemode</h2>
  </body>
</html>
