body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../assets/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparan hitam */
    z-index: -1;
}

.store-title {
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.gradient-store {
    font-weight: bold;
    background: linear-gradient(45deg, #ffffff, #f0f0f0, #e0e0e0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
  
  @keyframes fadeScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
.animated-text {
    animation: fadeScale 0.8s ease-out forwards;
    opacity: 0;
    animation-delay: 0.3s;
}